// colors
$martini-bordeaux: #7C2529;
$martini-bordeaux-dark: darken($martini-bordeaux, 5%);
$martini-bordeaux-light: lighten($martini-bordeaux, 15%);

$martini-yellow: #FED141;
$martini-yellow-dark: darken($martini-yellow, 5%);
$martini-yellow-light: lighten($martini-yellow, 15%);

$martini-blue: #5B5EC1;
$martini-blue-dark: darken($martini-blue, 5%);
$martini-blue-light: lighten($martini-blue, 15%);

$martini-body-copy: $martini-bordeaux-dark;
$martini-background: #FFF1E1;

// fonts
@font-face {
    font-family: 'amatic';
    
	src: url('../fonts/Amatic-Bold.ttf') format('truetype');
	font-style: normal;
	text-rendering: antialiased;
}

@font-face {
    font-family: 'autumn';
    
	src: url('../fonts/Autumn_in_November.ttf') format('truetype');
	font-style: normal;
	text-rendering: antialiased;
}
