@import '_variables';

body {
	position:relative;
    margin: 0;
	padding-top:9vmax;
    background: $martini-background;
}

h1, h2, h3, p {
    font-weight: normal;
}

h1 {
    color: $martini-bordeaux;
    font-size: 186px;
    font-family: amatic;
}

h2 {
    color: $martini-bordeaux;
    font-size: 86px;
    font-family: autumn;
}

h3 {
    color: $martini-body-copy;
    font-size: 40px;
    font-family: autumn;
}

p {
	color: $martini-body-copy;
	font-size: 34px;
	font-family: autumn;
}

.martini-header {
    background: $martini-yellow;
	padding-top: 0px;
    padding-bottom: 0px;
	
	&__nav-collapser{
		justify-content: flex-end;
	}
	&__nav-togglr{
		margin: 3px 0;
	}
	
	&__nav-brand{
		color:$martini-bordeaux !important;
		font-family: autumn;
		font-size:3.3vmax;
		
		align-self:center;
		
		margin: 0 5px 0 0;
		padding:0;
	}

    &__nav-link {
		font-family: amatic;
		font-size:3.7vmax;
        text-transform: uppercase;
		text-align: center;
        text-decoration: none;
        color: black !important;
    }
}

.martini-intro {
    &__container {
        text-align: center;
        max-width: 1008px;
        margin: auto;
        padding-top: 10px;
    }

    &__pre-title {
        margin: 20px auto;
    }

    &__title-box {
        margin: 120px auto;
    }

    &__title {
        margin: 0 auto -80px;
        text-transform: uppercase;

        &--ampersand {
            font-family: autumn;
            font-size: 1.5em;
        }
    }

    &__subtitle {
        margin: 0 auto;
    }

    &__location {
        margin: 0 auto;
    }

    &__location-text {
        &--highlight {
            font-family: amatic;
            font-size: 1.5em;
            text-transform: uppercase;
        }
    }
}

.martini-countdown {
    background: $martini-yellow;
	display: flex;
	justify-content: center;
	align-items: stretch;

    &__container {
		display:flex;
		justify-content: center;
		align-items: stretch;
    }
    
    &__banner-element {
        display: inline-block;
    }
	
	&__banner-element__bimba{
		background-image:url("../img/karin.png");
		background-size:contain;
		background-repeat:no-repeat;
		background-position:50%;
		padding-top:20vh;
	}
	&__banner-element__bimbo{
		background-image:url("../img/matteo.png");
		background-size:contain;
		background-repeat:no-repeat;
		background-position:50%;
		padding-top:20vh;
	}

    &__clock {
		display:flex;
		justify-content: center;
		align-items:center;
		height:100%;
        
		font-family: amatic;
		font-size: 5vmax;
		
		margin:0;
    }

    &__clock-separator1 {
		
		background-image:url("../img/countdown-separator.png");
		background-size:contain;
		background-repeat:no-repeat;
		background-position-y:55%;
    }
	&__clock-separator2 {
		
		background-image:url("../img/countdown-separator.png");
		background-size:contain;
		background-repeat:no-repeat;
		background-position-y:45%;
		transform: rotate(180deg);
    }
}

.martini-location {
    &__container {
        text-align: center;
        max-width: 1008px;
        margin: auto;
        padding-top: 40px;
    }

    &__text {
        margin: 80px auto;

        &--highlight {
            font-family: amatic;
            font-size: 1.5em;
            text-transform: uppercase;
        }
    }
}

.martini-map {
    &__container {
        width: 100%;
    }

    &__map {
        width: 100%;
        height: 500px;
        border: 0;
    }
}

.martini-theme {
    &__container {
        text-align: center;
        max-width: 1008px;
        margin: auto;
        padding-top: 40px;
    }

    &__text {
        margin: 80px auto;

        &--highlight-yellow {
            font-family: amatic;
            font-size: 1.5em;
            text-transform: uppercase;
            color: $martini-yellow;
        }

        &--highlight-bordeaux {
            font-family: amatic;
            font-size: 1.5em;
            text-transform: uppercase;
            color: $martini-bordeaux;
        }
    }
}