@import '_variables';

body {
    margin: 0;
    // background: lighten($martini-blue-light, 25%);
}

h1, h2, h3, p {
    font-weight: normal;
}

h1 {
    color: $martini-bordeaux;
    font-size: 186px;
    font-family: amatic;
}

h2 {
    color: $martini-bordeaux;
    font-size: 86px;
    font-family: autumn;
}

h3 {
    color: $martini-bordeaux-dark;
    font-size: 40px;
    font-family: autumn;
}

p {
    color: $martini-bordeaux-dark;
    font-size: 34px;
    font-family: autumn;
}

.martini-intro {
    &__container {
        text-align: center;
        max-width: 1008px;
        margin: 20px auto;
    }

    &__pre-title {
        margin: 0 auto;
    }

    &__title-box {
        margin: 120px auto;
    }

    &__title {
        margin: 0 auto -80px;
        text-transform: uppercase;

        &--ampersand {
            font-family: autumn;
            font-size: 1.5em;
        }
    }

    &__subtitle {
        margin: 0 auto;
    }

    &__location {
        margin: 0 auto;
    }

    &__location-text {
        &--highlight {
            font-family: amatic;
            font-size: 1.5em;
            text-transform: uppercase;
        }
    }
}

.martini-countdown {
    background: $martini-yellow;

    &__container {
        text-align: center;
        max-width: 1008px;
        margin: 20px auto;
    }
    
    &__banner-element {
        display: inline-block;
        margin: 60px auto;

        &--left {
            float: left;
        }

        &--right {
            float: right;
        }
    }

    &__clock {
        font-family: amatic;
    }

    &__clock-separator {
        vertical-align: middle;
    }
}

.martini-location {
    &__container {
        text-align: center;
        max-width: 1008px;
        margin: 20px auto;
    }

    &__text {
        margin: 80px auto;

        &--highlight {
            font-family: amatic;
            font-size: 1.5em;
            text-transform: uppercase;
        }
    }
}

.martini-map {
    &__container {
        width: 100%;
    }

    &__map {
        width: 100%;
        height: 500px;
        border: 0;
    }
}

.martini-theme {
    &__container {
        text-align: center;
        max-width: 1008px;
        margin: 20px auto;
    }

    &__text {
        margin: 80px auto;

        &--highlight-yellow {
            font-family: amatic;
            font-size: 1.5em;
            text-transform: uppercase;
            color: $martini-yellow;
        }

        &--highlight-bordeaux {
            font-family: amatic;
            font-size: 1.5em;
            text-transform: uppercase;
            color: $martini-bordeaux;
        }
    }
}