<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<section class="martini-email" style="background-color: palevioletred;" >
        <h2 style="background-color: green;">Ricevuta una conferma da {{guest_name|escape}}</h2>
        <ul>
            <li>scelte menu: {{menu_choice|escape}}</li>
            <li>note: {{guest_note|escape}}</li>
            <li>guests: TODO</li>
        </ul>
    </section>
</body>

</html>