<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <section class="martini-email">
        <h1>Ricevuta una conferma da {{name|escape}}</h1>

        {% if email %}
        <div>
            <h2>
                Email:
                <a href="mailto:{{email|escape}}">{{email|escape}}</a>
            </h2>
        </div>
        {% endif %}
        
        {% if note %}
        <div>
            <h2>Nota da parte dell'invitato:</h2>
            <p>{{note|escape}}</p>
        </div>
        {% endif %}

        <div>
            <h2>Invitati confermati e menu:</h2>
            <table>
                <tr>
                    <th>Nome</th>
                    <th>Menu</th>
                </tr>

                {% for guest in family %}
                <tr>
                    <td>{{guest.name|escape}}</td>
                    <td>{{guest.menu|escape}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
</body>

</html>