<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <section class="martini-email" style="color: black;">
        <h1>Grazie {{name|escape|capitalize}} per aver confermato la presenza per:</h1>

        <div>
            {% for guest in family %}
                <p style="border: 0px solid black;">{{guest.name|escape|title}}, menu {{guest.menu|escape}}</p>
            {% endfor %}
        </div>

        {% if note %}
        <div>
            <h2>Hai lasciato agli sposi la seguente nota:</h2>
            <p>{{note|escape}}</p>
        </div>
        {% endif %}

        <h2>Ti aspettiamo sabato 22 Settembre alle 12 in Sala Rossa, Palazzo d’Accursio, Bologna
            <br>e a pranzo al Boccone del Prete, in via Siepelunga 56, Bologna.
        </h2>

        <p>Se hai <span style="font-weight:bold;">domande o correzioni</span> da fare puoi:<br>
            <ul>
                <li>ricompilare la partecipazione sul sito</li>
                <li>contattarci su questa mail (imartinisisposano@gmail.com)</li>
                <li>telefonarci</li>
            </ul>
        </p>
        <h2>Ti aspettiamo alla nostra festa il 22 Settembre!<br>Matteo e Karin</h2>
    </section>
</body>

</html>