@import '_variables';

body {
    margin: 0;
    background-color: $martini-background;
}

h1, h2, h3, p {
    font-weight: normal;
    margin: 0;
}

h1 {
    color: $martini-body-copy;
    font-family: amatic;
    
    font-size: 76px;
    @media screen and (max-width: $bp-m) { font-size: 68px; }
    @media screen and (max-width: $bp-s) { font-size: 52px; }
    @media screen and (max-width: $bp-xs) { font-size: 42px; }
}

h2 {
    color: $martini-body-copy;
    font-family: amatic;
    
    font-size: 76px;
    @media screen and (max-width: $bp-m) { font-size: 60px; }
    @media screen and (max-width: $bp-xs) { font-size: 52px; }
}

h3 {
    color: $martini-body-copy;
    font-family: amatic;

    font-size: 52px;
    @media screen and (max-width: $bp-m) { font-size: 46px; }
    @media screen and (max-width: $bp-s) { font-size: 38px; }
    @media screen and (max-width: $bp-xs) { font-size: 32px; }
}

h4 {
    color: $martini-body-copy;
    font-family: amatic;
    
    font-size: 22px;    
    @media screen and (max-width: $bp-m) { font-size: 20px; }
    @media screen and (max-width: $bp-xs) { font-size: 18px; }
}

p {
    color: $martini-body-copy;
    font-family: museo;

    font-size: 22px;    
    @media screen and (max-width: $bp-m) { font-size: 20px; }
    @media screen and (max-width: $bp-xs) { font-size: 18px; }
}