@import '_variables';
@import '_defaults';

body {
    background-color: $martini-yellow;
}

.martini-login {
    &__container {
        width: 200px;
        margin: 1rem auto;
        text-align: center;

		background: url("../img/login-outline.png");
		background-size: contain;
		background-position: center;
        background-repeat: no-repeat;	
        
        padding: 200px;
        @media screen and (max-width: $bp-m) { padding: 160px; }
		@media screen and (max-width: $bp-s) { padding: 80px; }
    }

    &__input {
        width: 90%;
        margin: 5px 0;
        padding: 5px;

        text-align: center;
    }

    &__button {
        background-color: $martini-bordeaux;
        color: #fff;

        border: 0;
        padding: 2px 40px;

        text-transform: uppercase;
        font-family: amatic;
        font-size: 28px;    
        @media screen and (max-width: $bp-m) { font-size: 24px; }
        @media screen and (max-width: $bp-xs) { font-size: 22px; }
    }
}