@import '_variables';
@import '_defaults';

.martini-login {
    &__container {
        width: 120px;
        margin: 15rem auto;

		background: url("../img/login-outline.png");
		background-size: contain;
		background-position: center;
        background-repeat: no-repeat;	
        
        padding: 200px;
        @media screen and (max-width: $bp-m) { padding: 160px; }
		@media screen and (max-width: $bp-xs) { padding: 100px; }
    }

    &__input {
        width: 100px;

        margin: 5px;
        padding: 5px;
    }
}