@import '_variables';
@import '_defaults';

body {
	position:relative;
	padding-top: 20px;
}

.martini-header {
    background: $martini-yellow;
	padding-top: 0px;
    padding-bottom: 0px;
	
	&__nav-collapser{
		justify-content: flex-end;
	}
	&__nav-togglr{
		margin: 3px 0;
	}
	
	&__nav-brand{
		color:$martini-bordeaux !important;
		font-family: autumn;
		font-size:16px;
		
		align-self:center;
		
		margin: 0 5px 0 0;
		padding:0.5rem 0;
	}

    &__nav-link {
		font-family: amatic;
		font-size: 26px;
		margin-top: -4px;
        text-transform: uppercase;
		text-align: center;
        text-decoration: none;
        color: black !important;
		padding: 0 .5rem 0 .5rem!important;
		
    }
}

.martini-intro {
	display:flex;
	height: 100vh;

	&--1 {
		background-image: url("../img/intro-background-1.png");
	}

	&--2 {
		background-image: url("../img/intro-background-2.png");
	}
	
	background-position: center;
	background-repeat: no-repeat;

	@media screen and (min-height: 700px) { background-size: cover; }  // hd screens, portrait tall phone
	@media screen and (max-height: 700px) and (max-width: 500px) { background-size: 340%; }  // portrait mid phone
	@media screen and (max-height: 570px) and (max-width: 500px) { background-size: 330%; }  // portrait short phone

	@media screen and (max-height: 450px) { background-size: 140%; }  // landscape Android
	@media screen and (max-height: 380px) { background-size: 170%; }  // landscape iPhone

    &__container {
		padding:200px;
		@media screen and (max-width: $bp-m) { padding: 180px 140px; }
		@media screen and (max-width: $bp-s) { padding: 160px 100px; }
		@media screen and (max-width: $bp-xs) { padding: 100px 70px; }
		
		@media screen and (max-height: 900px) and (min-width: 500px) { padding: 170px; } // hd-ready screen
		@media screen and (max-height: 450px) { padding: 110px 140px; }  // landscape Android
		@media screen and (max-height: 380px) { padding: 100px 140px; }  // landscape iPhone

		background: url("../img/intro-outline.png");
		background-size: contain;
		background-position: 50%;
		background-repeat: no-repeat;
	
		text-align: center;
		margin: auto;
    }

    &__title {
		@media screen and (max-height: 450px) { font-size: 38px; }
	}
	
    &__subtitle {
		font-family: autumn;
		@media screen and (max-height: 450px) { font-size: 30px; }
    }
}

.martini-countdown {
    background: $martini-yellow-light;
	display: flex;
	justify-content: center;
	align-items: stretch;

    &__container {
		display:flex;
		justify-content: center;
		align-items: stretch;
		
		padding-top: 30px;
		padding-bottom: 30px;
    }
    
    &__banner-element {
        display: inline-block;
    }
	
	&__banner-element__central {
		display: inline-flex;
		flex-direction: column;
		
		&__invite{
			font-family: autumn;
			text-align: center;
			font-size: 3.0vmax;
			@media (max-width: 576px) { font-size: 6vmax; margin-bottom:3vmax;}
			
			&__amatic{
				font-family: amatic;
				font-size: 3.5vmax;
				@media (max-width: 576px) { font-size: 6.6vmax; margin-bottom:3vmax;}
			}
		}
		&__separator-1{
			object-fit: contain;
		}
		&__directive{
			font-family:museo;
			/*font-weight:bold;*/
			text-align:center;
			
			line-height: 90%;
			padding: 15px 0;
			&__minor{
				font-size:75%;
			}
		}
		&__RSVP-link{
			color:white;
			background-color:$martini-bordeaux;
			font-family:museoBold;
			/*font-weight:bold;*/
			text-align:center;
			
			align-self: center;
			border:1px solid black;
			padding: 0 15px;

			&:hover{
				color:$martini-yellow;
				text-decoration:none;
			}
		}
		
		
		&__clock {
			display:flex;
			justify-content: center;
			align-items:center;
			height:100%;
			
			color:black;
			font-family: amatic;
			font-size: 5.5vmax;
			
			margin:0;
			
			@media (max-width: 576px) { font-size: 10vmax; margin-bottom:3vmax;}
		}

		&__clock-separator-1 {
			
			background-image:url("../img/sezione2_fiore1.png");
			background-size:contain;
			background-repeat:no-repeat;
			background-position-y:55%;
		}
		&__clock-separator-2 {
			
			background-image:url("../img/sezione2_fiore2.png");
			background-size:contain;
			background-repeat:no-repeat;
			background-position-y:55%;
		}
		
		&__separator-2{
			object-fit: contain;
		}
		
	}
	
	&__banner-element__bimba{
		/*background-image:url("../img/sezione2_Karin.png");
		background-size:contain;
		background-repeat:no-repeat;
		background-position:50%;
		padding-top:20vh;*/
		object-fit: contain;
		padding:0px;
		@media (max-width: 576px) { width: 65%;};
	}
	&__banner-element__bimbo{
		/*background-image:url("../img/sezione2_Matteo.png");
		background-size:contain;
		background-repeat:no-repeat;
		background-position:50%;
		padding-top:20vh;*/
		object-fit: contain;
		padding:0px;
		@media (max-width: 576px) { width: 65%;};
	}
}

.martini-location {
	height: 110vh;
	padding: 2vh 0;
	background-image:url("../img/sezione3_sfondo_o60pc.png");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat:no-repeat;
	position:relative;
	@media screen and (min-width: 1200px) { height: 100vh; padding: 0 0; }
	
	&__overlay{
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		
		opacity: 0.7;
		background-color:gray;
	}
    &__container {
        text-align: center;
        /*padding-top: 40px;
		padding-bottom: 30px;*/
		height:100%;
		
		position:relative;
		
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
    
		&__d-q{
			color:white;
			font-family:autumn;
			font-size:6vh;
			margin-bottom: 5vh;
			&__d{
				font-family: amatic;
			}
		}
		&__separator-1{object-fit: contain;}
        &__resturant{
			color:white;
			font-size: 10vh;
			margin-bottom:1vh;
			@media screen and (min-width: 768px) { font-size: 12vh; }
		}
		&__r-address{
			color:white;
			font-family: museo;
			font-size: 2.7vh;
			line-height: 85%;
			margin-bottom: 2vh;
		}
		&__map-icon{
			margin-bottom:5vh;
			color:white;
			font-family:museo;
			line-height:12px;
			&:hover{
				color:$martini-yellow;
				text-decoration:none;
			}
			img{
				object-fit: contain;
				border-radius:10px;
				/*border: 4px solid white;*/
				padding:5px 10px;
			}
		}
		&__separator-2{
			object-fit: contain;
			margin-bottom:3vh;
		}
		&__duration{
			color:white;
			font-size:3.5vh;
			font-family:autumn;
			line-height: 90%;
			margin-bottom:1vh;
			&__end{
				font-family: amatic;
			}
		}
		&__dcode{
			color:white;
			font-family:autumn;
			font-size:3.5vh;
			margin-bottom:3vh;
			&__y{
				font-family: amatic;
				color:$martini-yellow;
				font-size:125%;
			}
			&__b{
				font-family: amatic;
				font-size:125%;
				color:$martini-bordeaux;
			}
		}
		&__separator-3{object-fit: contain;}
	
	
	}
}

.martini-map {
    &__container {
        width: 100%;
    }

    &__map {
        width: 100%;
        height: 500px;
        border: 0;
    }
}


.martini-gift{
	background-color:white;
	
	p{
		text-align:center;
		font-family:museo;
		font-size:14px;
		@media (min-width: 576px) { font-size:16px; }
		@media (min-width: 768px) { font-size:20px; }
		@media (min-width: 992px) { font-size:20px; }
		@media (min-width: 1200px) { font-size:20px; }
		span{
			font-weight:bold;
		}
	}

	&__title{
		text-align:center;
		color:black;
		font-size:30px;
		margin-bottom:18px;
		padding-top:20px;
		span{
			font-family:autumn;
			font-size:80%;
		}
		@media (min-width: 576px) { font-size:48px; margin-bottom:20px; padding-top:30px; }
		@media (min-width: 768px) { font-size:56px; margin-bottom:30px; padding-top:40px; }
		@media (min-width: 992px) { font-size:56px; margin-bottom:30px; padding-top:40px; }
		@media (min-width: 1200px) { font-size:56px; margin-bottom:30px; padding-top:40px; }
		
	}
	&__controls{
		/*display:flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
		width:100%;
		height: 50vw;*/
		margin-bottom:10px;
		
		&__btn{
			font-family:amatic;
			/*font-size:3vh;*/
			font-size:4.2vw;
			background-color:transparent;
			background-image:url("../img/sezione4_corniceHighRes.png");
			background-size: contain;
			background-repeat: no-repeat;
			cursor: pointer;
			/*height: 45px;
			width:170px;*/
			height:7.857vw;
			width:32vw;
			padding:0;
			text-align: center;
			@media (min-width: 576px) {font-size:26px;height: 46px;width:180px;}
			@media (min-width: 768px) {}
			@media (min-width: 992px) {}
			@media (min-width: 1200px) {}

			&.selected_day{
				color: $martini-bordeaux;
			}

			&:hover{
				color:$martini-bordeaux-light;
				text-decoration:none;
			}
		}
	}
	&__map{
		justify-content: center;
		align-items: center;
		
		&__frame{
			width: 100%;
			height: 35vmax;
			margin:0;
			padding:0;
			overflow:hidden;
			border: 1px solid black;

			@media (min-width: 1200px) { height:25vw; }
		}
		&__backward{
			position: absolute;
			left:0;
			top:0;
			height: 100%;
			width: 10%;
			text-align: center;
			line-height:  35vmax;
			font-size: 50px;
			font-family:amatic;
			cursor: pointer;

			background-color: rgba(255,255,255,0.8);

			@media (min-width: 1200px) { line-height:25vw; }
		}
		&__forward{
			position: absolute;
			right:0;
			top:0;
			height: 100%;
			width: 10%;
			text-align: center;
			line-height:  35vmax;
			font-size: 50px;
			font-family:amatic;
			cursor: pointer;

			background-color: rgba(255,255,255,0.8);

			@media (min-width: 1200px) { line-height:25vw; }
		}
		&__map{
			background-image: url("../img/map/JMap-Day0.png");
			width: 100%;
			height: 100%;
			-webkit-transition: background-image 0.5s ease-in-out,-webkit-transform 0.5s ease-in-out;
			transition: background-image 0.5s ease-in-out,transform  0.5s ease-in-out;/*-webkit-transform 0.5s ease-in-out;*/
			background-position: 50%;
			background-size: contain;
			background-repeat: no-repeat;
			&.zoomin{
				-webkit-transform: scale(2) translate(2%,-14%);
				transform: scale(2) translate(2%,-14%);
			}
			&.zoomout{
				-webkit-transform: scale(1) translate(0,0);
				transform: scale(1) translate(0,0);
			}
		}
		&__title{
			width:100%;
			text-align:center;
			font-family:amatic;
			font-size:150%;
			margin-top:10px;
		}
		&__txt{
			width:100%;
			font-family:museo;
			text-align:center;
			line-height: 100%;
		}
	}
	&__toggle-details {
		font-family:amatic;
		text-align:center;
		color:black;
		font-size:26px;
		margin:23px auto 14px auto;
		padding: 0px 0 10px 0;
		width:205px;
		cursor:pointer;
		background-image:url('../img/sezione5_riquadroAiutaciAscappare.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-clip: padding-box;

		&:hover{
			color:$martini-bordeaux;
			text-decoration:none;
		}
		
		@media (min-width: 576px) { font-size:25px; margin:32px auto 16px auto; width:220px; padding: 2px 0 8px 0;}
		@media (min-width: 768px) { font-size:40px; margin:40px auto 20px auto; width:363px;padding: 5px 0 10px 0;}
		@media (min-width: 992px) { font-size:40px; margin:40px auto 20px auto; width:363px;padding: 5px 0 10px 0;}
		@media (min-width: 1200px) { font-size:40px; margin:40px auto 20px auto; width:363px;padding: 5px 0 10px 0;}
	}
	&__gift-details{
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.4s ease-out;
	}
}
.martini-preloader{
	height: 0px;
	min-height: 0px;
	max-height: 0px;
	
	img{
		height:0;
	}
}

.hide{
	display:none !important;
}

.martini-confirm{
	background-color:$martini-yellow-light;
	padding:3vh 0px;
	p{
		font-family:museo;
		font-size:14px;
		@media (min-width: 576px) { font-size:16px; }
		@media (min-width: 768px) { font-size:20px; }
		@media (min-width: 992px) { font-size:20px; }
		@media (min-width: 1200px) { font-size:20px; }
	}
	select{
		margin-bottom:40px;
		font-family:museo;
		font-size:14px;
		@media (min-width: 576px) { font-size:16px; }
		@media (min-width: 768px) { font-size:20px; }
		@media (min-width: 992px) { font-size:20px; }
		@media (min-width: 1200px) { font-size:20px; }
	}
	textarea{
		font-family:museo;
		font-size:14px;
		width:100%;
		@media (min-width: 576px) { width:95%; font-size:16px; }
		@media (min-width: 768px) { width:80%; font-size:20px; }
		@media (min-width: 992px) { width:65%; font-size:20px; }
		@media (min-width: 1200px) { width:50%; font-size:20px; }
	}
	.checkbox{
		display:inline-block;
		background-image:url("../img/sezione5_check_vuoto.png");
		background-size:contain;
		background-repeat:no-repeat;
		width:34px;
		line-height:24px;
		cursor:pointer;
		align-self: center;
		@media (min-width: 576px) { width:34px; }
		@media (min-width: 768px) { width:42px; }
		@media (min-width: 992px) { width:42px; }
		@media (min-width: 1200px) { width:42px; }
		
		&.checked{
			background-image:url("../img/sezione5_check_pieno.png");
		}
		&.checking{
			background-image:url("../img/loading_backTrasp.gif");
		}
	}
	
	&__container{
		
		text-align: center;
		height:100%;
		
		position:relative;
		
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		
		&__title{
			font-size:30px;
			margin-bottom:14px;
			span{
				font-family:autumn;
				font-size:80%;
			}
			@media (min-width: 576px) { font-size:48px; margin-bottom:16px; }
			@media (min-width: 768px) { font-size:56px; margin-bottom:20px; }
			@media (min-width: 992px) { font-size:56px; margin-bottom:20px; }
			@media (min-width: 1200px) { font-size:56px; margin-bottom:20px; }
		}
		
		&__main-guest{
			justify-content: center;
			width: 100%;
			margin-bottom:20px;
			
			input{margin-right:10px;}
		}

		&__nome,
		&__cognome,
		&__email {
			font-family:museo;
			font-size:14px;
			margin-bottom:5px;
			@media (min-width: 576px) { font-size:16px; margin-bottom:5px; }
			@media (min-width: 768px) { font-size:20px; margin-bottom:0px; }
			@media (min-width: 992px) { font-size:20px; margin-bottom:0px; }
			@media (min-width: 1200px) { font-size:20px; margin-bottom:0px; }
		}

		&__email{
			margin-bottom: 30px;
		}
	
		&__family{
			justify-content: space-evenly;
			width:100%;
			margin-bottom:10px;
			&__member{
				flex-grow:1;
				padding:0;
				margin-bottom:20px;
				
				p{margin-bottom:5px;}
				&__name{
					width:100%;
					cursor:default;
					font-family:museo;
					font-size:14px;
					@media (min-width: 576px) { font-size:16px; }
					@media (min-width: 768px) { font-size:20px; }
					@media (min-width: 992px) { font-size:20px; }
					@media (min-width: 1200px) { font-size:20px; }
					input{
						width:80%;
						margin-right:0px;
						@media (min-width: 576px) { margin-right:0px; }
						@media (min-width: 768px) { margin-right:10px; }
						@media (min-width: 992px) { margin-right:10px; }
						@media (min-width: 1200px) { margin-right:10px; }
					}
				}
			}
		}
		
		&__notes{
			margin-bottom:30px;
		}

		&__submit{
			background-color:$martini-bordeaux;
			color:white;
			border:0;
			font-family:amatic;
			font-size:26px;
			width:30%;
			cursor:pointer;
			@media (min-width: 576px) { font-size:30px; }
			@media (min-width: 768px) { font-size:48px; }
			@media (min-width: 992px) { font-size:48px; }
			@media (min-width: 1200px) { font-size:48px; }
		}
		&__overlay{
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			
			background-color:$martini-bordeaux;
			text-align:center;
			
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&__title{
				margin:0 0 14px 0;
				color:white;
				font-family: amatic;
				font-size:26px;
				margin-bottom:14px;
				@media (min-width: 576px) { font-size:30px; margin-bottom:16px; }
				@media (min-width: 768px) { font-size:48px; margin-bottom:20px; }
				@media (min-width: 992px) { font-size:48px; margin-bottom:20px; }
				@media (min-width: 1200px) { font-size:48px; margin-bottom:20px; }
			}
			&__member{
				color:white;
				font-family: museo;
				font-size:20px;
			}
			&__submit{
				background-color:$martini-yellow;
				color:$martini-bordeaux;
				border:0;
				font-family:amatic;
				cursor:pointer;
				width:40%;
				font-size:26px;
				margin-bottom:20px;
				margin-top: 20px;
				@media (min-width: 576px) { font-size:30px; margin-bottom:24px; margin-top: 24px; }
				@media (min-width: 768px) { font-size:48px; margin-bottom:30px; margin-top: 30px; }
				@media (min-width: 992px) { font-size:48px; margin-bottom:30px; margin-top: 30px; }
				@media (min-width: 1200px) { font-size:48px; margin-bottom:30px; margin-top: 30px; }
			}
			&__back{
				background-color:$martini-yellow;
				color:$martini-bordeaux;
				border:0;
				font-family:amatic;
				font-size:26px;
				cursor:pointer;
				width:40%;
				@media (min-width: 576px) { font-size:30px; }
				@media (min-width: 768px) { font-size:48px; }
				@media (min-width: 992px) { font-size:48px; }
				@media (min-width: 1200px) { font-size:48px; }
			}
		}
	}
}

/*
easter egg
*/

@keyframes example {
    0%   {left:10vw; top:10vh;}
    25%  {left:80vw; top:10vh;}
    50%  {left:80vw; top:80vh;}
    75%  {left:10vw; top:80vh;}
    100% {left:10vw; top:10vh;}
}
.heart{
	width: 10vw;
	height: 10vw;
	position: fixed;
	top: -10vh;
	left: -10vw;
	z-index: 100;
	background-image:  url(https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Hearts-PNG/Gold_Heart_Transparent_PNG_Clip_Art.png?m=1507172105);
	background-size:  contain;
	background-repeat:  no-repeat;
	animation-name: example;
    animation-duration: 8s;
	animation-iteration-count: infinite;
}

#heart2 {
	animation-delay:2s;
}
#heart3 {
	animation-delay:4s;
}
#heart4 {
	animation-delay:6s;
}