body {
    background-color: #ffffdd;
    text-align: center;
}

h1, h2 {
    color: #880000;
}

h3, h4, p, li {
    color: #550000;
}

button {
    color: #880000;
    background-color: white;
}

.martini-rvsp__form > div, .martini-rvsp__menu-choices > input {
    display: block;
    margin: 0 auto;
}

.martini-gift__toggle-details {
    font-weight: bold;
}

.martini-gift__gift-details {
    display: none;
}

.martini-gift__agency-address {
    list-style: none;
}