<!DOCTYPE html>
<html>

<head>
	<title>I Martini si Sposano!</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{static_root}}/css/main.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

	<script src="{{static_root}}/js/countdown.js"></script>
	<script src="{{static_root}}/js/map_text_data.js"></script>
	<script src="{{static_root}}/js/map.js"></script>
	<script src="{{static_root}}/js/detail_toggle.js"></script>
	<script src="{{static_root}}/js/confirmation.js"></script>
</head>

<body>
	<nav class="martini-header navbar navbar-light fixed-top navbar-expand-md">
		<p class="navbar-brand martini-header__nav-brand">Matteo &amp; Karin</p>
		<button class="navbar-toggler martini-header__nav-togglr" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
		 aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse martini-header__nav-collapser" id="navbarTogglerDemo01">
			<ul class="navbar-nav mt-lg-0">
				<li class="nav-item">
					<a href="#martini-intro" class="martini-header__nav-link nav-link">&#8226; Home</a>
				</li>
				<li class="nav-item">
					<a href="#martini-countdown" class="martini-header__nav-link nav-link">&#8226; Save the date</a>
				</li>
				<li class="nav-item">
					<a href="#martini-location" class="martini-header__nav-link nav-link">&#8226; Dove/Quando</a>
				</li>
				<li class="nav-item">
					<a href="#martini-hm" class="martini-header__nav-link nav-link">&#8226; Honeymoon</a>
				</li>
				<li class="nav-item">
					<a href="#martini-RSVP" class="martini-header__nav-link nav-link">&#8226; RSVP</a>
				</li>
			</ul>
		</div>
	</nav>

	<section class="martini-intro martini-intro--{{background_version}}" id="martini-intro">
		<div class="martini-intro__container">
			<h1 class="martini-intro__title">
				Matteo &amp; Karin
			</h1>
			<h3 class="martini-intro__subtitle">
				si sposano
			</h3>
		</div>
	</section>

	<section class="martini-countdown" id="martini-countdown">
		<div class="martini-countdown__container container row">
			<img class="martini-countdown__banner-element martini-countdown__banner-element__bimba col-sm-3" src="{{static_root}}/img/sezione2_Karin.png">
			<div class="martini-countdown__banner-element martini-countdown__banner-element__central col-sm-6">
				<h4 class="martini-countdown__banner-element__central__invite">sei
					<span class="martini-countdown__banner-element__central__invite__amatic">invitato
						<span>
				</h4>
				<img class="martini-countdown__banner-element__central__separator-1" src="{{static_root}}/img/sezione2_cuore.png">
				<h4 class="martini-countdown__banner-element__central__directive">Il 22 Settembre 2018
					<br>alle ore 12 in Sala Rossa
					<br>
					<span class="martini-countdown__banner-element__central__directive__minor">(Palazzo D'Accursio, Bologna)</span>
				</h4>
				<a class="martini-countdown__banner-element__central__RSVP-link" href="#martini-RSVP">RSVP</a>
				<h2 class="martini-countdown__banner-element__central__clock">
					<span class="martini-countdown__banner-element__central__clock-days">10D</span>
					<div class="martini-countdown__banner-element__central__clock-separator-1">&nbsp;&nbsp;&nbsp;</div>
					<span class="martini-countdown__banner-element__central__clock-hours">10H</span>
					<div class="martini-countdown__banner-element__central__clock-separator-2">&nbsp;&nbsp;&nbsp;</div>
					<span class="martini-countdown__banner-element__central__clock-minutes">10M</span>
				</h2>
				<img class="martini-countdown__banner-element__central__separator-2 d-none d-lg-block" src="{{static_root}}/img/sezione2_divisorio.png">
			</div>
			<img class="martini-countdown__banner-element martini-countdown__banner-element__bimbo col-sm-3" src="{{static_root}}/img/sezione2_Matteo.png">
		</div>
	</section>

	<section class="martini-location" id="martini-location">
		<div class="martini-location__overlay"></div>
		<div class="martini-location__container container">
			<p class="martini-location__container__d-q">
				<span class="martini-location__container__d-q__d">dove</span> e quando</p>
			<img class="martini-location__container__separator-1" src="{{static_root}}/img/sezione3_divisorio1.png">
			<h1 class="martini-location__container__resturant">il boccone del prete</h1>
			<p class="martini-location__container__r-address">via Siepelunga 56
				<br>Bologna</p>
			<a class="martini-location__container__map-icon" href="https://www.google.com/maps/search/?api=1&query=Il+Boccone+del+Prete"
			 target="_blank">
				<img src="{{static_root}}/img/sezione3_mappa.png">
				<br> clicca qui per
				<br> le indicazioni
			</a>
			<img class="martini-location__container__separator-2" src="{{static_root}}/img/sezione3_divisorio2.png">
			<p class="martini-location__container__duration">dalle 14
				<br>
				<span class="martini-location__container__duration__end">fino a sera</span>
			</p>
			<p class="martini-location__container__dcode">se ti fa piacere indossa come noi un dettaglio
				<br class="d-md-none">
				<span class="martini-location__container__dcode__y">giallo</span>
				o
				<span class="martini-location__container__dcode__b">bordeaux</span>
			</p>
			<img class="martini-location__container__separator-3" src="{{static_root}}/img/sezione3_divisorio3.png">
		</div>
	</section>

	<section class="martini-gift" id="martini-hm">
		<div class="container">
			<h2 class="martini-gift__title">Viaggio
				<span>di nozze</span>
			</h2>
			<p style="padding-bottom:20px;">Clicca sulla mappa o sulle date<br class="d-inline d-sm-none"> per scoprire le tappe del nostro itinerario</p>
			<div class="martini-gift__controls row">
				<div class="martini-gift__controls__btn col-lg-2" data-step="1" onclick="MapChange(this)">day1</div>
				<div class="martini-gift__controls__btn col-lg-2" data-step="2" onclick="MapChange(this)">day2</div>
				<div class="martini-gift__controls__btn col-lg-2" data-step="3" onclick="MapChange(this)">day3</div>
				<div class="martini-gift__controls__btn col-lg-2" data-step="4" onclick="MapChange(this)">day4</div>
				<div class="martini-gift__controls__btn col-lg-2" data-step="5" onclick="MapChange(this)">day5</div>
				<div class="martini-gift__controls__btn col-lg-2" data-step="6" onclick="MapChange(this)">day6</div>
				<div class="martini-gift__controls__btn col-lg-2" data-step="7" onclick="MapChange(this)">day7</div>
				<div class="martini-gift__controls__btn col-lg-2" data-step="8" onclick="MapChange(this)">day8</div>
				<div class="martini-gift__controls__btn col-lg-2" data-step="9" onclick="MapChange(this)">day9</div>
				<div class="martini-gift__controls__btn col-lg-2" data-step="10" onclick="MapChange(this)">day10</div>
				<div class="martini-gift__controls__btn col-lg-2" data-step="11" onclick="MapChange(this)">day11</div>
				<div class="martini-gift__controls__btn col-lg-2" data-step="12" onclick="MapChange(this)">day12</div>
				<div class="martini-gift__controls__btn col-lg-2" data-step="13" onclick="MapChange(this)">day13</div>
				<div class="martini-gift__controls__btn col-lg-2" data-step="14" onclick="MapChange(this)">day14</div>
				<div class="martini-gift__controls__btn col-lg-2" data-step="15" onclick="MapChange(this)">day15</div>
				<div class="martini-gift__controls__btn col-lg-2" data-step="16" onclick="MapChange(this)">day16</div>
				<div class="martini-gift__controls__btn col-lg-2" data-step="17" onclick="MapChange(this)">day17</div>
				<div class="martini-gift__controls__btn col-lg-2" data-step="18" onclick="MapChange(this)">day18</div>
			</div>
			<div class="martini-gift__map row">
				<div id="martini-gift__map__frame" class="martini-gift__map__frame col-sm-12">
					<div id="martini-gift__map__map" class="martini-gift__map__map"></div>
					<div id="martini-gift__map__backward" class="martini-gift__map__backward" onclick="onBackwardClick();">&lt;</div>
					<div id="martini-gift__map__forward" class="martini-gift__map__forward" onclick="onForwardClick();">&gt;</div>
				</div>
				<div id="martini-gift__map__title" class="martini-gift__map__title"></div>
				<div id="martini-gift__map__txt" class="martini-gift__map__txt"></div>
			</div>
			<h3 class="martini-gift__toggle-details">
				VUOI AIUTARCI A SCAPPARE?
			</h3>
			<div class="martini-gift__gift-details">
				<p>La lista di nozze è disponibile presso la sede dell'agenzia:
					<br>
					<span>AEGIR Viaggi</span>
					<br> via Calabria 8/b, Bologna.
					<br> 051 0366662
				</p>
				<p>Oppure, se ti è più comodo è possibile effettuare
					<br> un bonifico all'IBAN:
					<br>
					<span>IT69A0312702403000000007462</span>.
				</p>
			</div>
			<div style="height:30px;"></div>
		</div>
	</section>

	<section class="martini-confirm" id="martini-RSVP">
		<form class="martini-confirm__container container">
			<h2 class="martini-confirm__container__title">
				unisciti
				<span>alla nostra festa</span>
			</h2>

			<p>Al fine di organizzare al meglio la festa, conferma la tua presenza entro il 15 settembre</p>
			<div class="martini-confirm__container__main-guest row">
				<input class="martini-confirm__container__nome col-sm" type="text" name="main_nome" placeholder="Nome" required />
				<input class="martini-confirm__container__cognome col-sm" type="text" name="main_cognome" placeholder="Cognome" required />
				<div id="checkbox_main" class="checkbox" onclick="onUserNomeCognomeEntered();">&nbsp;</div>
			</div>

			<p id="select_your_menu_text" class="hide">Scegli il tuo menu</p>
			<select id="select_main_menu" class="hide" name="main_menu">
				<option>Normale</option>
				<option>Celiaco</option>
				<option>Intollerante al Lattosio</option>
				<option>Bimbi</option>
				<option>Vegetariano</option>
				<option>Vegano</option>
			</select>

			<p id="conferma_cari_text" class="hide" style="margin-bottom:10px;">Conferma anche per i tuoi cari:</p>
			<div class="martini-confirm__container__family row hide" id="martini-confirm__container__family"></div>

			<p id="extra_notes_text" class="hide" style="margin-bottom:10px;">Lascia un messaggio agli sposi:</p>
			<textarea id="notes" class="martini-confirm__container__notes hide" rows="5" name="note"></textarea>

			<p id="main-email-label" class="hide" style="margin-bottom:10px;">Se vuoi, lascia il tuo indirizzo email per una conferma</p>
			<input class="martini-confirm__container__email hide" type="email" name="main_email" id="main-email" placeholder="Email">

			<div class="martini-confirm__container__submit hide" id="confirm-be-there" onclick="onCiSaroClick();">CI SARÒ!</div>

			<p id="not_invited" class="hide" id="error-not-invited">Nominativo non trovato!</p>
			<div class="martini-confirm__container__overlay hide" id="confirm-overlay"></div>
		</form>
	</section>
	<section class="martini-preloader"></section>
</body>

</html>