<!DOCTYPE html>
<html>

<head>
	<title>Login - I Martini si Sposano!</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{static_root}}/css/login.css">
</head>

<body>
	<div class="martini-login__container">
		<form class="martini-login__form" action="" method="POST">
			<input class="martini-login__input" type="password" name="password" placeholder="password" required>
			<button class="martini-login__button">Login</button>
		</form>
	</div>
</body>

</html>