@font-face {
	font-family: 'Amatic-Bold';
	src: url('https://github.com/FabrizioMontanari/caterel/blob/master/website/fonts/Amatic-Bold.ttf?raw=true') format('truetype');

	font-weight: 300;
	font-style: normal;
	text-rendering: antialiased;
}
@font-face {
	font-family: 'Amatic-Regular';
	src: url('https://github.com/FabrizioMontanari/caterel/blob/master/website/fonts/AmaticSC-Regular.ttf?raw=true') format('truetype');

	font-weight: 300;
	font-style: normal;
	text-rendering: antialiased;
}
@font-face {
	font-family: 'Autumn';
	src: url('https://github.com/FabrizioMontanari/caterel/blob/master/website/fonts/Autumn_in_November.ttf?raw=true') format('truetype');

	font-weight: 300;
	font-style: normal;
	text-rendering: antialiased;
}
@font-face {
	font-family: 'destain';
	src: url('https://github.com/FabrizioMontanari/caterel/blob/master/website/fonts/destain.ttf?raw=true') format('truetype');

	font-weight: 300;
	font-style: normal;
	text-rendering: antialiased;
}

body {
    background-color: snow;
    text-align: center;
	margin:0;
	padding:0;
}

h1, h2 {
	margin:0;
    color: #880000;
}

h3, h4, p, li {
    color: #550000;
}

button {
    color: #880000;
    background-color: white;
}
/*
	gestione sezioni
*/
section{
	min-height:105vh;
}

.martini-intro{
	background-color:snow;
	font-family:Autumn;
}
.martini-timer{
	background-color:#880000;
	color:snow;
	font-family:Autumn;
	font-size:10vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.martini-location{}
.martini-dress-code{}
.martini-gift{
	background-color:#880000;
}
.martini-rvsp{}
/*fine sezioni*/
.hide{
	display:none !important;
}

.martini-rvsp__menu-choices {
	list-style: none;
}

.martini-rvsp__form > div{
    display: block;
    margin: 0 auto;
}

.martini-gift__toggle-details {
    font-weight: bold;
}
.martini-gift__gift-details{
	max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.martini-gift__agency-address {
    list-style: none;
}

/*
* plugin mappa
*/
.martini-gift__map__controls{
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
	align-items:center;
	align-content:flex-start;
	width:100%;
}
.martini-gift__map__controls__btn{
	background-color:lightblue;
	height:30px;
	width:20%;
	border:1px solid black;
}
.martini-gift__map__frame{
	width: 80%;
	height: 50vw;
	margin:0 auto;
	overflow:hidden;
}
.martini-gift__map__map.zoomin{
	-webkit-transform: scale(2) translate(15%,-15%);
	transform: scale(2) translate(15%,-15%);
}
.martini-gift__map__map.zoomout{
	-webkit-transform: scale(1) translate(0,0);
	transform: scale(1) translate(0,0);
}
.martini-gift__map__map{
	background-image: url("https://raw.githubusercontent.com/FabrizioMontanari/caterel/master/01.png");
	width: 100%;
	height: 100%;
	-webkit-transition: background-image 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
	transition: background-image 0.5s ease-in-out,transform  0.5s ease-in-out;
	background-position: 50%;
	background-size: contain;
	background-repeat: no-repeat;
}
.martini-gift__map__title{
	width:100%;
	text-align:center;
	font-size:150%;
	font-weight:bold;
}
.martini-gift__map__txt{
	width:100%;
	text-align:center;
}

.martini-preloader{
	height: 0px;
	min-height: 0px;
	max-height: 0px;	
}
.martini-preloader img{
	height:0;
}
/*
easter egg
*/

@keyframes example {
    0%   {left:10vw; top:10vh;}
    25%  {left:80vw; top:10vh;}
    50%  {left:80vw; top:80vh;}
    75%  {left:10vw; top:80vh;}
    100% {left:10vw; top:10vh;}
}
.heart{
	width: 10vw;
	height: 10vw;
	position: fixed;
	top: -10vh;
	left: -10vw;
	z-index: 100;
	background-image:  url(https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Hearts-PNG/Gold_Heart_Transparent_PNG_Clip_Art.png?m=1507172105);
	background-size:  contain;
	background-repeat:  no-repeat;
	animation-name: example;
    animation-duration: 8s;
	animation-iteration-count: infinite;
}

#heart1 {
	
}
#heart2 {
	animation-delay:2s;
}
#heart3 {
	animation-delay:4s;
}
#heart4 {
	animation-delay:6s;
}