body {
    background-color: snow;
    text-align: center;
	margin:0;
	padding:0;
}

h1, h2 {
	margin:0;
    color: #880000;
}

h3, h4, p, li {
    color: #550000;
}

button {
    color: #880000;
    background-color: white;
}
/*
	gestione sezioni
*/
section{
	min-height:100vh;
}

.martini-intro{
	background-color:snow;
}
.martini-timer{
	background-color:#880000;
	color:snow;
	font-size:500%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.martini-location{}
.martini-dress-code{}
.martini-gift{
	background-color:#880000;
}
.martini-rvsp{}
/*fine sezioni*/
.hide{
	display:none !important;
}

.martini-rvsp__menu-choices {
	list-style: none;
}

.martini-rvsp__form > div{
    display: block;
    margin: 0 auto;
}

.martini-gift__toggle-details {
    font-weight: bold;
}
.martini-gift__gift-details{
	max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.martini-gift__agency-address {
    list-style: none;
}

/*
* plugin mappa
*/
.martini-gift__map__controls{
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
	align-items:center;
	align-content:flex-start;
	width:100%;
}
.martini-gift__map__controls__btn{
	background-color:lightblue;
	height:30px;
	width:20%;
	border:1px solid black;
}
.martini-gift__map__map{
	background-image: url(https://raw.githubusercontent.com/FabrizioMontanari/caterel/master/01.png);
	width: 100%;
	height: 50vw;
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
	background-position: 50%;
	background-size: contain;
	background-repeat: no-repeat;
}
.martini-gift__map__title{
	width:100%;
	text-align:center;
	font-size:150%;
	font-weight:bold;
}
.martini-gift__map__txt{
	width:100%;
	text-align:center;
}